body {
  background-color: #FFF2C9;
  scrollbar-face-color: #CCAA8D; 
  scrollbar-highlight-color: #FFF2C9; 
  scrollbar-shadow-color: #FFF2C9; 
  scrollbar-track-color: #FFF2C9;
  scrollbar-3dlight-color: #FFF2C9; 
  scrollbar-arrow-color: #FFF2C9; 
  scrollbar-darkshadow-color: #FFF2C9;
}
